
.page-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 1px;
    margin-top: 3rem;
}
.bd-navbar{
    min-height: 4rem;
    background-color: #009900;
}
.appName{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    color: white;
    font-size: x-large;
}
.userIcon{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 76%;
    color: white;
    font-size: x-large;
}
html, body, .page-container {
    height: 100%;
    min-height: 100vh;
  }