
html body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
html, body, .page-container {
    height: 100%;
    min-height: 100vh;
  }
.page-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 1px;
    margin-top: 2rem;
}
.bd-navbar{
    min-height: 4rem;
    background-color: #009900;
}
.app-name{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
    color: white;
    font-size: x-large;
}
.user-icon{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 71%;
    color: white;
    font-size: x-large;
}
.logo-align{
    margin-left: 1%;
    margin-bottom: 1%;
}
