
.home-container {

  background: rgb(142 138 138 / 14%);
}

.card {
  width: 18rem;
}
.card-display{
  display: flex;
}
.card-text{
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.card-img-top{
  height: 75%;
}.card.disabled {
  pointer-events: none;
  opacity: 0.5;
}