* {
  font-weight: 200;
  font-family: serif;
}

.home-container {

  background: rgb(142 138 138 / 14%);
}

td .rounded-btn {
  border-radius: 50px;
  /* Custom border-radius */
  padding: 4px 15px;
  /* Adjust button padding if necessary */
}