.input-group {
    border: 0.5px solid;
   
  }
  .search-box .input-group{
    width: 125%;
  }
  .input-group .form-control,
  .input-group .btn-outline {
    border: none;
  }
  
  .input-group .form-control:focus, .input-group .btn-outline:focus {
    box-shadow: none;
    outline: none;
  }
  
  .input-group .form-control:active, .input-group .btn-outline:active {
    box-shadow: none;
    outline: none;
  }